* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display: flex; /* 1. Set up flex container: this will create the flex container */
  justify-content: center;/* 2. Define the horizontal alignment for its flex items */
  /* Other values for justify-content : center, flex-start, flex-end, space-around ,space-between */
}

.title {
  /*border: 1px solid #fff;  For debugging */
  width: 900px;
  display: flex;
  justify-content: center;
}

.form-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: center;
  /* other options for align-items: center, flex-start(top), flex-end (bottom), stretch, baseline */
}

.submit-button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 8px;
  padding: 10px 24px;
}

.submit-button:hover {
  background-color: #555555;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-item {
  list-style-type: decimal;
  margin-left: 40px;
  height: 200px;
  flex: 1; /* flex:1 matches the width of the footer, so all have equal length*/
}


.social {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
/* Same values can be used with align-self:  center, flex-start, flex-end, stretch, baseline*/
.social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  height: 200px;
  flex: 1; /* flex:1 matches the width of the footer, so all have equal length*/
}
